<div class="main">
    <div class="searchContainer">
        <input type="text" class="search-bar" placeholder="Enter a keyword">
        <button type="button" class="searchButton" (click)="onclick()">
            <img src="img/searchIcon.png" alt="" />
            Search
        </button>
    </div>
    <div class="filtersContainer">
        <div class="filtersTitle">Filter settings</div>
        <div class="filters">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map">
                        <img src="/img/location_icon.png" alt="location icon">
                    </i>
                </p-inputgroup-addon>
                <p-multiselect [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Commune(s)" [maxSelectedLabels]="9" styleClass="w-full md:w-80 min-width: 256px" />
            </p-inputgroup>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map">
                        <img src="/img/building_icon.png" alt="building icon">
                    </i>
                </p-inputgroup-addon>
                <p-select [(ngModel)]="selectedType" [options]="type_annonce" optionLabel="name" placeholder="Type" />
            </p-inputgroup>
            <p-inputgroup>
                <p-inputgroup-addon>$</p-inputgroup-addon>
                <p-inputnumber [(ngModel)]="selectedPrice" placeholder="Prix maximum" />
                <p-inputgroup-addon>.00</p-inputgroup-addon>
            </p-inputgroup>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-map">
                        <img src="/img/bed.png" alt="bed icon">
                    </i>
                </p-inputgroup-addon>
                <p-select [(ngModel)]="selectedNumberOfRooms" [options]="number_of_rooms" optionLabel="name" placeholder="Nombre de chambres min." />
            </p-inputgroup>
        </div>
    </div>
</div>