<div class="main">
    <div class="imgContainer">
        <!-- <img src="img/test.png" alt="testImage" (click)="navigateToDetails()"> -->
        <img [src]="newImg()" alt="testImage" (click)="navigateToDetails()">
    </div>
    <div class="desc">
        <div class="descTitle" (click)="navigateToDetails()">{{ newTitle() }}</div>
        <div class="descInfos">
            <div class="price">{{ newPrice() }} €</div>
            <div class="location">{{ newLocation() }}</div>
        </div>
    </div>
    <div class="bottom">
        <div class="contact"><img src="img/contact.png" alt="contact"></div>
        <div class="favorite"><img src="img/favorite.png" alt="favorite"></div>
    </div>
</div>