<div class="main">
    <div class="headerContainer">
            <div class="lang">
                <div class="fr">FR</div>
                <div class="en">EN</div>
            </div>
        <div class="crossContainer" (click)="onCloseMenuClick()">
            <img src="img/cross.png" alt="cross" />
        </div>
    </div>
    <div class="modeContainer">
        <div class="modeText">
            <img src="img/darkmode.png" alt="darkIcon"> Mode Sombre
        </div>
        <div class="switch">
            <input type="checkbox" />
        </div>
    </div>
    <div class="menuContainer">
        ...
    </div>
</div>