<div class="header">
    <app-header (menuClicked)="onHeaderMenuClick()"></app-header>
</div>

<div class="main">    
    @if (isMenuOpen) {
        <div class="menu">
            <app-menu (closeMenu)="onMenuCloseClick()"></app-menu>
        </div>
    }

    <div class="titleContainer">
        <div class="title">{{ appartment.title }}</div>
    </div>

    <div class="container">
        <div class="left">
            <div class="imgBigContainer">
                <div class="mainImgContainer">
                    <div class="mainImg" (click)="openImageModal(0)"><img [src]="appartment.images![0]" (click)="openImageModal(0)" alt="bigImg"></div>
                </div>
                <div class="smallImgContainer">
                    <div class="smallImg" (click)="openImageModal(1)"><img [src]="appartment.images![1]" alt="small image"></div>
                    <div class="smallImg" (click)="openImageModal(2)"><img [src]="appartment.images![2]" alt="small image"></div>
                    <div class="smallImg" (click)="openImageModal(3)"><img [src]="appartment.images![3]" alt="small image"></div>
                </div>
            </div>
            <div class="midPageContainer">
                <div class="descContainer">
                    <div class="descTitle">
                        <div class="descInfos">
                            <div class="descImg"><img src="img/building.png" alt="building" /></div> {{ appartment.type_bien }}
                        </div>
                        <div class="descInfos">
                            <div class="descImg"><img src="img/dimensions.png" alt="dimensions" /></div>{{ appartment.surface }} m2
                        </div>
                        <div class="descInfos">
                            <div class="descImg"><img src="img/pin.png" alt="pin" /></div>{{ appartment.ville }}
                        </div>
                    </div>
                    <div class="contacter">
                        <div class="price">{{ appartment.prix }} €</div>
                        <div class="contactButtonContainer">
                            <button type="button" class="contactButton">
                                <a [href]="appartment.lien_annonce" target="_blank">Contacter l'annonceur</a>
                            </button>
                        </div>
                    </div>
                    <div class="descTextContainer">{{ appartment.description }}</div>
                    @if (appartment.adresse !== 'Rue non communiquée') {
                        <div class="mapsLocation">
                            <iframe
                                width="610"
                                height="368"
                                style="border:0"
                                loading="lazy"
                                allowfullscreen
                                referrerpolicy="no-referrer-when-downgrade"
                                [src]="realUrl">
                            </iframe>
                        </div>
                    }
                        
                </div>
            </div>
        </div>
        <div class="right">
            <div class="statsContainer">
                <div class="stats">
                    <div class="statsTitle">
                        Caractéristiques
                    </div>
                    <div class="stat"><b>Ville: </b> {{ appartment.ville }} <br /> </div>
                    <div class="stat"><b>Rue: </b> {{ appartment.adresse }} <br /> </div>
                    <div class="stat"><b>Garage(s): </b> {{ appartment.garage }} <br /> </div>
                    <div class="stat"><b>Type: </b> {{ appartment.type_bien }} <br /> </div>
                    <div class="stat"><b>Nombre de chambres: </b> {{ appartment.nombre_chambres }} <br /> </div>
                    <div class="stat"><b>Superficie: </b> {{ appartment.surface }} m2 <br /> </div>
                    <div class="stat"><b>Parking: </b> {{ appartment.parking }} <br /></div>
                    <div class="stat"><b>Nature de l'offre: </b> {{ appartment.type_annonce }}<br /></div>
                </div>
            </div>
        </div>
    </div>        
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

<app-image-modal 
    #imageModal
    *ngIf="isModalOpen" 
    [images]="imageUrls" 
    [currentIndex]="selectedImageIndex"
    [isOpen]="isModalOpen"
    (close)="onModalClose()">
</app-image-modal>